body {
    background-color: #222222;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

input, textarea, select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    color: #ccc;
}

h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

h4 {
    font-size: 14px;
    margin-bottom: 6px;
}

h5 {
    font-size: 12px;
    margin-bottom: 4px;
}

h6 {
    font-size: 10px;
    margin-bottom: 2px;
}


code, pre {
    background-color: #505050;
    color: #E0E0E0;
    font-family: "Courier New";
    padding: 2px 4px;
    border-radius: 4px;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.container {
    padding: 5px 20px;
}

.border-thin {
    border-width: 1px;
}

.border-default {
    border-width: 2px;
}

.border-fat {
    border-width: 3px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.margin-50 {
    margin: 50px;
}

.margin-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-5-10 {
    padding: 5px 10px;
}

.padding-10-15 {
    padding: 10px 15px;
}

.padding-15-20 {
    padding: 15px 20px;
}

.padding-10-5 {
    padding: 10px 5px;
}

.padding-15-10 {
    padding: 15px 10px;
}

.padding-20-15 {
    padding: 20px 15px;
}

.inline {
    display: inline-block;
}

.opacity-8 {
    opacity: 0.8;
}

.opacity-6 {
    opacity: 0.6;
}

.opacity-4 {
    opacity: 0.4;
}

.opacity-2 {
    opacity: 0.2;
}

.block {
    display: block;
}

.relative-block {
    position: relative;
}

.fixed-block {
    position: relative;
}

.absolute-block {
    position: relative;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

@media (min-width: 1200px) {
    .hidden-large {
        display: none;
    }

    .display-block-large {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-middle {
        display: none;
    }

    .display-block-middle {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-small {
        display: none;
    }

    .display-block-small {
        display: block;
    }
}

@media (max-width: 768px) {
    .hidden-smallest {
        display: none;
    }

    .display-block-smallest {
        display: block;
    }
}

.flash-messages {
    border: 0;
    padding: 5px 10px;
    background-color: #272727;
    font-size: 12px;
    margin-bottom: 5px;
    color: #1D1D1D;
    font-weight: 600;
}

.rounded-inner > * {
    border-radius: 15px;
}

.flash-messages.flash-messages-error {
    background-color: crimson;
}

.flash-messages.flash-messages-notice {
    background-color: deepskyblue;
}

.flash-messages.flash-messages-warning {
    background-color: coral;
}

.flash-messages.flash-messages-info {
    background-color: darkorchid;
}

.flash-messages.flash-messages-success {
    background-color: springgreen;
}