.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 5px solid #1D1D1D;
}

.table thead > tr > th {
    text-align: left;
    font-weight: 600;
}

.table thead > tr > th,
.table tfoot > tr > td{
    padding: 10px;
    background-color: #1D1D1D;
}

.table tr > td {
    padding: 10px;
    background-color: #222222;
    border: 0;
}

.table-striped tr:nth-child(even) > td {
    background-color: #272727;
}

.table-hovered tbody > tr:hover > td {
    background-color: #333333;
}

.table-caption-upper th {
    text-transform: uppercase;
}